*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   }
   body{
       background: url(bg.jpeg);
   }
   form{
    box-shadow: 2px 6px 100px #ffffff;
}

.register-buttons {
    display: flex;
    justify-content: center; /* Horizontally center the buttons */
    margin-top: 20px; /* Add space between the form and the buttons */
}

.register-buttons a {
    margin: 0 10px; /* Space between the two buttons */
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap-like blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.register-buttons a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.table-striped tr:nth-child(even) {
    background-color: #f2f2f2;
}
