{% extends 'base.html' %}
{% block body %}
<div class="border rounded p-4 mb-4" style="background-color: #f9f9f9;">
    <h2 class="text-success">Service History</h2>
    <table class="table table-striped mt-3">
        <thead class="thead-light">
            <tr>
                <th>Service ID</th>
                <th>Service</th>
                <th>Customer</th>
                <th>Contact No.</th>
                <th>Date of Request</th>
                <th>Date of Completion</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in service_requests %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ request.service.name }}</td>
                <td>
                    {% if request.customer and request.customer.user %}
                    {{ request.customer.user.name }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    {% if request.customer and request.customer.user %}
                    {{ request.customer.user.phone_number }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{ request.date_of_request.strftime('%Y-%m-%d') }}</td>
                <td>
                    {% if request.date_of_completion %}
                    {{ request.date_of_completion.strftime('%Y-%m-%d') }}
                    {% else %}
                    Pending
                    {% endif %}
                </td>
                <td>
                    {% if request.reviews|length > 0 %}
                    {% set avg_rating = request.reviews | map(attribute='rating') | sum / request.reviews | length %}
                    {{ avg_rating | round(1) }}
                    {% else %}
                    No Rating
                    {% endif %}
                </td>
                <td>
                    {% if request.reviews|length > 0 %}
                    {% for review in request.reviews %}
                    <p class="mb-0">{{ review.review }}</p>
                    {% endfor %}
                    {% else %}
                    No Review
                    {% endif %}
                </td>
                <td>
                    {% if request.service_status == 'requested' %}
                    Service Requested
                    {% elif request.service_status == 'cancelled' %}
                    Service Cancelled
                    {% elif request.service_status == 'closed' %}
                    Service Closed
                    {% elif request.service_status == 'rejected' %}
                    Service Rejected
                    {% elif request.service_status == 'completed' %}
                    Service Completed
                    {% elif request.service_status == 'assigned' %}
                    In progess
                    {% else %}
                    {{ request.service_status|capitalize }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center mt-4">
    <a href="{{ url_for('main.professional_home') }}" class="btn btn-danger">Back to Home</a>
</div>
{% endblock %}
